<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>File Download Service</title>
  <link href="/public/styles/main.css" rel="stylesheet" />
</head>

<body>
  <main>
    <h1>Download Succeed!</h1>
    <a id="downloadLink" href="<%= downloadLink %>" download="<%= fileName %>" target="_blank">
      Click here if the download not started.</a>
  </main>

  <script src="/public/scripts/download.js"></script>
</body>

</html>